#APP
APP_NAME=LeadRep
APP_PORT=3000
APP_SECRET=YOUR_STRONG_32_CHAR_SECRET_HERE
APP_URL=http://localhost:5173
APP_ENV=test
APP_DOMAIN=http://localhost:5173
OPENAI_API_KEY=YOUR_OPENAI_API_KEY_HERE
APP_ALT_DOMAINS=http://localhost:5173,https://leadrep.ai
SKIP_LEADS_REFRESH_LIMIT=false
LEADGEN_MODEL=v2
PINO_PRETTY=true

#DATABASE
DB_HOST=localhost
DB_DATABASE=mansa
DB_USERNAME=postgres
DB_PASSWORD=YOUR_DB_PASSWORD_HERE

#EMAIL
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=YOUR_EMAIL@gmail.com
MAIL_PASSWORD=YOUR_APP_PASSWORD_HERE
MAIL_FROM_NAME=LeadRep

#GOOGLE API
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID_HERE
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET_HERE
GOOGLE_MAIL_CLIENT_ID=YOUR_GOOGLE_MAIL_CLIENT_ID_HERE
GOOGLE_MAIL_CLIENT_SECRET=YOUR_GOOGLE_MAIL_CLIENT_SECRET_HERE
CONTACT_GOOGLE_REDIRECT_URI=http://localhost:5173/leads
CONTACT_FRONTEND_SUCCESS_URL=http://localhost:5173/leads
CONTACT_FRONTEND_FAILURE_URL=http://localhost:5173/leads
CONTACT_MICROSOFT_CLIENT_ID=YOUR_MICROSOFT_CLIENT_ID_HERE
CONTACT_MICROSOFT_CLIENT_SECRET=YOUR_MICROSOFT_CLIENT_SECRET_HERE
CONTACT_MICROSOFT_REDIRECT_URI=http://localhost:3000/v1/contacts/microsoft/callback

CONTACT_GOOGLE_CLIENT_ID=YOUR_CONTACT_GOOGLE_CLIENT_ID_HERE
CONTACT_GOOGLE_CLIENT_SECRET=YOUR_CONTACT_GOOGLE_CLIENT_SECRET_HERE
GOOGLE_MAIL_REDIRECT_URI=http://localhost:3000/v1/contacts/google/callback

CONTACT_FRONTEND_SUCCESS_URL=http://localhost:5173/leads?google_auth_status=success&gmail_action=intro_mail_send
CONTACT_FRONTEND_FAILURE_URL=http://localhost:5173/leads?google_auth_status=error&gmail_action=intro_mail_send

#GOOGLE STORAGE
GCS_PROJECT_ID=YOUR_GCS_PROJECT_ID_HERE
GCS_BUCKET=YOUR_GCS_BUCKET_HERE
GOOGLE_APPLICATION_CREDENTIALS=secrets/YOUR_SERVICE_ACCOUNT_KEY.json

#AZURE OPENAI
OPENAI_ENDPOINT=YOUR_AZURE_OPENAI_ENDPOINT_HERE
OPENAI_API_KEY=YOUR_AZURE_OPENAI_API_KEY_HERE

#MICROSOFT API
MICROSOFT_CLIENT_ID=YOUR_MICROSOFT_CLIENT_ID_HERE
MICROSOFT_OBJECT_ID=YOUR_MICROSOFT_OBJECT_ID_HERE
MICROSOFT_TENANT_ID=YOUR_MICROSOFT_TENANT_ID_HERE

#APOLLO API
APOLLO_API_KEY=YOUR_APOLLO_API_KEY_HERE

#STRIPE
STRIPE_SECRET_KEY=YOUR_STRIPE_SECRET_KEY_HERE
SKIP_LIMIT=false
